.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    &__buttons {
        display: flex;

        .button:not(:last-child) {
            margin-right: 8px;
        }
    }
}