.avatarUpload {
    &__form {
        .is-uploading & {
            display: none;
        }
    }

    &__allowedTypes {
        color: rgb(var(--color-text-muted));
        font-size: var(--font-size-s);
        margin-top: 12px;
    }

    &__upload {
        display: none;
        
        .is-uploading & {
            display: block;
        }
    }
}