.avatar {
    position: relative;

    &__img {
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    &.is-online {
        &::after {
            background-color: rgb(var(--color-status-success));
            border-radius: 50%;
            box-shadow: 0 0 0 2px rgb(var(--color-bg));
            bottom: 0;
            content: '';
            display: block;
            height: 8px;
            pointer-events: none;
            position: absolute;
            right: 0;
            width: 8px;
        }
    }
}