@keyframes buttonSpinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button {
    @include font-1;
    background-color: transparent;
    border-radius: 24px;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(var(--color-1), 0.25);
    color: rgb(var(--color-1));
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size-s);
    font-weight: 600;
    letter-spacing: 0.035em;
    line-height: 24px;
    height: 48px;
    margin: 0;
    overflow: hidden;
    padding: 12px 24px;
    position: relative;
    transition: background-color var(--duration-fast),
        box-shadow var(--duration-fast);
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;

    i {
        display: inline-block;
        margin-right: 2px;
    }

    input[type='file'] {
        cursor: pointer;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        opacity: 0;
        width: 100%;
    }

    &:hover {
        background: transparent;
        box-shadow: inset 0 0 0 1px rgba(var(--color-1), 1);
        text-decoration: none;
    }

    &:active {
        padding-bottom: 11px;
        padding-top: 13px;
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--primary {
        background-color: rgb(var(--color-1));
        box-shadow: none;
        color: rgb(var(--color-bg));

        &:hover {
            background-color: rgb(var(--color-1-lighter));
            box-shadow: none;
            color: rgb(var(--color-bg));
        }
    }

    &--small {
        font-size: var(--font-size-s);
        height: 40px;
        padding: 8px 20px;

        &:active {
            padding-bottom: 7px;
            padding-top: 9px;
        }
    }

    &--square {
        border-radius: 3px;
    }

    &[type='submit'],
    &--spinner {
        position: relative;

        &::after {
            background-image: url('/assets/img/spinner.png');
            background-size: 24px;
            content: '';
            display: block;
            height: 24px;
            left: calc(50% - 12px);
            pointer-events: none;
            position: absolute;
            top: calc(50% - 12px);
            visibility: hidden;
            width: 24px;
        }

        &.button--small::after {
            background-image: url('/assets/img/spinner-small.png');
            background-size: 18px;
            height: 18px;
            left: calc(50% - 9px);
            width: 18px;
            top: calc(50% - 9px);
        }
    }

    .is-busy &[type='submit'],
    .is-busy &.button--spinner {
        color: transparent;

        &::after {
            animation: buttonSpinner 1s linear both infinite;
            visibility: visible;
        }
    }
}