.composer {
    background-color: rgb(var(--color-bg));
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px rgb(var(--color-border));
    padding: 32px;

    &__auth {
        font-size: var(--font-size-l);
        padding: 16px 0;
        text-align: center;
    }

    &__authIcon {
        background-color: rgba(var(--color-1), 0.1);
        border-radius: 50%;
        color: rgb(var(--color-1));
        display: inline-block;
        font-size: 24px;
        height: 48px;
        line-height: 48px;
        margin-bottom: 16px;
        text-align: center;
        width: 48px;
    }
}