.fieldset {
    margin-bottom: 2em;

    &__legend {
        margin-bottom: 1rem;
    }

    &__intro {
        color: rgb(var(--color-text-muted));
        line-height: 1.5;
        margin-bottom: 1.5rem;
        margin-top: -0.5em;
    }
}