.footer {
    background-color: rgb(var(--color-bg));
    color:  rgb(var(--color-alt-text));
    padding: 80px 0;
    position: relative;

    &::before {
        background-color: rgb(var(--color-bg-tint));
        content: '';
        display: block;
        height: 16px;
        mask-image: url('/assets/img/footer.svg');
        mask-repeat: repeat-x;
        mask-size: 320px 16px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}