@keyframes formMessage {
    0% { opacity: 0; transform: translateY(8px); }
    100% { opacity: 1; transform: translateY(0); }
}

.formMessage {
    animation: formMessage var(--duration-slow) ease both;
    border-radius: var(--border-radius);
    display: none;
    line-height: var(--line-height-l);
    margin-bottom: 16px;
    padding: 16px; 

    &--error {
        background-color: rgba(var(--color-alert), 0.1);
        color: rgb(var(--color-alert));

        .is-error & {
            display: block;
        }
    }

    &--success {
        background-color: rgba(var(--color-success), 0.1);
        color: rgb(var(--color-success));

        .is-success & {
            display: block;
        }
    }

    &:empty {
        display: none;
    }
}