.formatted,
.rx-content {
    @include font-1;
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);

    a {
        color: rgb(var(--color-1));
        text-decoration: none;

        &:hover {
            color: rgb(var(--color-1));
            text-decoration: underline;
        }
    }

    figure {
        border-radius: var(--border-radius-input);

        img {
            border-radius: var(--border-radius-input);
        }
    }

    p {
        font-size: var(--font-size-l);
        line-height: var(--line-height-l);
    }

    blockquote,
    figure,
    p,
    pre {
        margin: 0 0 1.25em 0;
    }

    ol,
    ul {
        font-size: var(--font-size-l);
        line-height: var(--line-height-l);
        margin: 0 0 1.25em 0;

        li {
            font-size: var(--font-size-l);
            line-height: var(--line-height-l);
            margin-left: 1.5em;

            &:not(:last-child) {
                margin-bottom: 0.25em;
            }
        }
    }

    ol {
        list-style: decimal;
    }

    ul {
        list-style: disc;
    }

    blockquote {
        background-color: rgb(var(--color-bg-tint));
        border-left: 3px solid rgb(var(--color-border));
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        font-style: normal;
        padding: 12px;
        margin: 0 0 1.25em 0;

        p {
            font-size: var(--font-size-m);
            line-height: var(--line-height-l);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    pre {
        @include font-mono;
        background-color: var(--color-text);
        border-radius: var(--border-radius);
        color: rgb(var(--color-bg));
        font-size: 15px;
        padding: 12px;
        white-space: pre-wrap;
    }
}