.formField {
    margin-bottom: 24px;

    &__label {
        display: flex;
        font-size: var(--font-size-s);
        font-weight: 600;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    &__desc {
        color: rgb(var(--color-text-muted));
        font-size: var(--font-size-s);
        margin-top: 8px;

        i.far {
            display: inline-block;
            margin-right: 2px;
            position: relative;
            top: 1px;
        }
    }

    &__error {
        color: rgb(var(--color-alert));
        font-size: var(--font-size-s);
        margin-top: 8px;
    }
}