.forumListItem {
    &__title {
        display: inline-block;
        font-size: var(--fontSize-l);
        font-weight: 600;
        margin-bottom: 4px;
        text-decoration: none;
    }

    &__desc {
        color: rgb(var(--color-text-muted));
        font-size: var(--font-size-s);
    }

    &__stats {
        display: flex;
        text-align: center;
    }

    &__stat {
        padding-left: 24px;
    }

    &__statNum {
        margin-bottom: 4px;
    }

    &__statLabel {
        color: var(--color-text-muted);
        font-size: var(--fontSize-s);
    }

    &__lastPost {
        align-items: center;
        display: flex;
        flex-basis: 256px;
        padding-left: 24px;
        width: 256px;
    }

    &__lastPostAvatarLink {
        display: block;
        margin-right: 8px;
        width: 40px;
    }

    &__lastPostAvatar {
        border-radius: 50%;
        height: 40px;
        object-fit: cover;
        width: 40px;
    }

    &__lastPostText {
        flex: 1;
        min-width: 0;
    }

    &__lastPostThread {
        display: block;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
}