@mixin grid-gap($selector, $val) {
    #{$selector} {
        margin: 0 ($val * -0.5) ($val * -1) ($val * -0.5);

        & > .grid__col {
            padding: 0 ($val * 0.5) $val ($val * 0.5);
        }
    }
}

@mixin grid-width($selector, $i) {
    #{$selector} {
        flex-basis: percentage(1 / $i);
        max-width: percentage(1 / $i);
    }
}

.grid {
    display: flex;
    flex-flow: row wrap;

    &__col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    &--center {
        justify-content: center;
    }

    &--middle {
        align-items: center;
    }

    &--evenly {
        justify-content: space-evenly;
    }
}

// Grid columns
@for $i from 1 through $grid-columns {
    @include grid-width('.grid__col--1\\/#{$i}', $i);
}

.grid__col--2\/3 {
    flex-basis: 66.66666%;
    max-width: 66.66666%;
}

.grid__col--3\/4 {
    flex-basis: 75%;
    max-width: 75%;
}

@each $screen in map-keys($screens) {
    @include screen-min($screen) {
        @for $i from 1 through $grid-columns {
            @include grid-width('.#{$screen}\\:grid__col--1\\/#{$i}', $i);
        }

        .#{$screen}\:grid__col--2\/3 {
            flex-basis: 66.66666%;
            max-width: 66.66666%;
        }

        .#{$screen}\:grid__col--3\/4 {
            flex-basis: 75%;
            max-width: 75%;
        }
    }
}

// Grid gaps
@each $key, $val in $spaces {
    @include grid-gap('.grid--gap-#{$key}', $val);
}

@each $screen in map-keys($screens) {
    @include screen-min($screen) {
        @each $key, $val in $spaces {
            @include grid-gap('.#{$screen}\\:grid--gap-#{$key}', $val);
        }
    }
}