.hr {
    border-top: 1px solid rgb(var(--color-border-muted));
    margin-top: 12px;
    text-align: center;
    user-select: none;

    & > span {
        background-color: rgb(var(--color-bg));
        display: inline-block;
        line-height: 24px;
        padding: 0 8px;
        position: relative;
        top: -12px;
    }
}