.input {
    @include font-1;
    background-color: rgb(var(--color-bg));
    border: none;
    border-radius: var(--border-radius-input);
    box-shadow: inset 0 0 0 1px rgb(var(--color-input-border));
    color: var(--color-text) !important;
    display: block;
    font-size: var(--font-size-l);
    height: 48px;
    padding: 0 12px;
    transition: box-shadow var(--duration-fast) ease;
    width: 100%;

    &--small {
        font-size: var(--font-size-m);
        height: 40px;
    }

    &--rounded {
        border-radius: 24px;
        padding-left: 24px;
    }

    .has-error &,
    .has-error &:-webkit-autofill {
        box-shadow: inset 0 0 0 1px rgba(var(--color-alert), 0.75),
            inset 0 0 0 48px rgb(var(--color-bg));
    }

    &:-webkit-autofill {
        box-shadow: inset 0 0 0 1px rgb(var(--color-input-border)),
            inset 0 0 0 48px rgb(var(--color-bg));
        color: rgb(var(--color-text));
    }

    &:focus,
    &:-webkit-autofill:focus,
    .is-error &:focus {
        box-shadow: inset 0 0 0 2px rgb(var(--color-input-border-focus)),
            inset 0 0 0 48px rgb(var(--color-bg));
        color: rgb(var(--color-text));
    }
}