@keyframes likesCountDown {
    0% { opacity: 0; transform: translateY(-8px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes likesCountUp {
    0% { opacity: 0; transform: translateY(8px); }
    100% { opacity: 1; transform: translateY(0); }
}

.likes {
    display: flex;

    &__count {
        @include tabular-numbers;
        color: rgb(var(--color-1));
        margin-right: 8px;

        .is-down {
            animation: likesCountDown var(--duration-slow) ease;
        }

        .is-up {
            animation: likesCountUp var(--duration-slow) ease;
        }
    }

    &__like {
        appearance: none;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        color: transparent;
        cursor: pointer;
        height: 32px;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 32px;
        display: block;
    
        &::before {
            background-color: rgb(var(--color-1), 0.1);
            border-radius: 50%;
            content: '';
            height: 32px;
            left: 0;
            position: absolute;
            transition: background-color var(--duration-fast) ease;
            top: 0;
            width: 32px;
            z-index: 1;
        }
    
        &::after {
            background-color: rgb(var(--color-1));
            content: '';
            height: 32px;
            left: 0;
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M14.447,1.95728a4.27332,4.27332,0,0,0-5.83114.425l-.61561.63436-.61561-.63436a4.27311,4.27311,0,0,0-5.83114-.425A4.48712,4.48712,0,0,0,1.24411,8.454l6.04676,6.24363a.97969.97969,0,0,0,1.4156,0L14.75322,8.454A4.48435,4.48435,0,0,0,14.447,1.95728Z"/></svg>');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: 16px;
            position: absolute;
            top: 1px;
            transition: transform var(--duration-fast) ease;
            width: 32px;
            z-index: 2;
        }
    
        &:hover {
            &::after {
                transform: scale(1.25);
            }
        }
    
        &:active {
            &::after {
                transform: scale(1);
            }
        }

        .is-liked & {
            &::before {
                background-color: rgb(var(--color-1));
            }
    
            &::after {
                background-color: rgb(var(--color-bg));
            }
        }
    }
}