.list {
    background-color: rgb(var(--color-bg));
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px rgb(var(--color-border));
    margin-bottom: 32px;

    &__header {
        background-color: rgb(var(--color-bg));
        box-shadow: 0 1px 0 rgb(var(--color-border));
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        display: flex;
        position: sticky;
        top: 0;
        user-select: none;
        z-index: 2;
    }

    &__body {
        position: relative;
        z-index: 1;
    }

    &__headerCol {
        color: var(--color-text-muted);
        font-size: var(--font-size-s);
        font-weight: 600;
        padding: 16px 24px;
    }

    &__row {
        align-items: center;
        display: flex;

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-border-muted);
        }
    }

    &__col {
        padding: 16px 24px;
        position: relative;
    }
}