.listItem {
    &:not(:last-child) {
        border-bottom: 1px solid rgb(var(--color-border));
    }

    &__avatarText {
        align-items: center;
        display: flex;
    }

    &__avatar {
        margin-right: 12px;
        position: relative;

        &--online {
            &::after {
                background-color: limegreen;
                box-shadow: 0 0 0 2px rgb(var(--color-bg));
                bottom: 0;
                border-radius: 50%;
                content: '';
                display: block;
                height: 10px;
                position: absolute;
                right: 0;
                width: 10px;
            }
        }
    }

    &__avatarImage {
        border-radius: 50%;
        height: 40px;
        object-fit: cover;
        width: 40px;
    }

    &__title {
        font-size: var(--font-size-l);
    }

    &__meta {
        margin-top: 2px;
    }

    &__lastReplyLink {
        background-color: currentColor;
        height: 100%;
        mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="5 2 11 8 5 14" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="2"/></svg>');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 16px;
        position: absolute;
        right: 0;
        top: 0;
        width: 64px;

        &:hover {
            color: rgb(var(--color-text));
        }
    }
}