.menu {
    padding: 32px 16px;

    &__section {
        margin-bottom: 24px;
    }

    &__heading {
        color: rgb(var(--color-text));
        font-size: var(--font-size-m);
        font-weight: 600;
        line-height: 32px;
        padding: 0 16px;
    }

    &__link {
        border-radius: 16px;
        color: rgb(var(--color-text-muted));
        display: block;
        font-weight: 600;
        line-height: 32px;
        padding: 0 16px;

        &:hover {
            color: rgb(var(--color-1));
            text-decoration: none;
        }

        i {
            margin-right: 2px;
        }

        &--active {
            background-color: rgba(var(--color-1), 0.1);
            color: rgb(var(--color-1));
        }
    }
}