.meta {
    color: rgb(var(--color-text-muted));
    display: flex;

    &__item {
        white-space: nowrap;

        &:not(:last-child) {
            &::after {
                content: '·';
                display: inline-block;
                margin: 0 0.25em;
            }
        }
    }

    &--small {
        font-size: var(--font-size-s);
    }
}