.modalImage {
    &__uploadForm {
        .is-uploading & {
            display: none;
        }
    }

    &__allowedTypes {
        color: var(--color-text-muted);
        font-size: var(--font-size-s);
        margin-top: 12px;
        text-align: center;
    }

    &__upload {
        display: none;
        
        .is-uploading & {
            display: block;
        }
    }
}