@keyframes modalWindow {
    0% { transform: scale(0.75); }
    100% { transform: scale(1); }
}

.modal {
    align-items: center;
    background-clor: rgba(0, 0, 0, 0.66);
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    padding: 8px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    
    &__window {
        animation: modalWindow 250ms both ease-out;
        background-color: rgb(var(--color-bg));
        border-radius: var(--border-radius);
        box-shadow: 0 24px 48px rgba(0, 0, 0, 0.25);
        max-width: 480px;
        overflow: hidden;
        width: 100%;
        will-change: transform;
    }

    &__header  {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),
            0 0 4px rgba(0, 0, 0, 0.05);
        height: 48px;
        line-height: 48px;
        padding: 0 24px;
        position: relative;
        user-select: none;

        h4 {
            @include font-2;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 48px);
        }
    }

    &__hide {
        background-color: rgb(var(--color-text-muted));
        border: none;
        color: transparent;
        cursor: pointer;
        height: 48px;
        mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><line x1="18" y1="18" x2="30" y2="30" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="1.5"/><line x1="30" y1="18" x2="18" y2="30" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="1.5"/></svg>');
        mask-size: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;

        &:hover {
            background-color: rgb(var(--color-text));
        }
    }

    &__body {
        padding: 24px 24px 32px 24px;

        .hr {
            margin-left: -24px;
            margin-right: -24px;
        }
    }

    &__footer {
        align-items: center;
        border-top: 1px solid rgb(var(--color-border-muted));
        color: rgb(var(--color-text-muted));
        display: flex;
        padding: 16px 24px;

        .button {
            margin-right: 12px;
        }
    }

    &.is-visible {
        display: flex;
    }
}

.has-modal {
    overflow: hidden;
}