.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(var(--color-bg));
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),
        0 0 4px rgba(0, 0, 0, 0.05);
    height: 72px;
    left: 0;
    padding: 0 32px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;

    &__logo {
    }

    &__search {
        flex: 0 1 480px;
        padding: 0 8px;

        .input {
            width: 100%;
        }
    }

    &__user {
        display: flex;
    }

    &__userItem:not(:last-child) {
        margin-right: 8px;
    }
}