.page {
    align-items: stretch;
    flex-direction: row;
    display: flex;
    min-height: 100vh;
    padding-top: 72px;
    position: relative;

    &__menu {
        background-color: rgb(var(--color-bg));
        border-right: 1px solid #E5E3E0;
        flex: 0 0 320px;

        .has-backdrop & {
            display: none;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
    }

    &__split {
        display: flex;
    }

    &__main {
        display: flex;
        flex: 1;
        padding: 64px 0;
        
        .has-backdrop & {
            background-image: url('/assets/img/backdrop.jpg');
            background-position: center;
            background-size: cover;
            min-height: calc(100vh - 72px);
            position: relative;
        }
    }

    &__backdropCredit {
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(8px);
        border-radius: var(--border-radius);
        bottom: 16px;
        color: #FFF;
        font-size: var(--font-size-s);
        line-height: 20px;
        right: 16px;
        padding: 8px 12px;
        position: absolute;

        .fa {
            margin-right: 4px;
        }

        &:hover {
            background-color: var(--color-1);
            text-decoration: none;
        }
    }

    &__sidebar {
        flex-basis: 300px;
        margin-left: 40px;
        width: 300px;
    }
}