.pagination {
    display: flex;
    justify-content: center;
    line-height: 2;
    margin-bottom: 32px;
    position: relative;

    @include screen-min(m) {
        font-size: var(--font-size-l);
    }

    a {
        &:hover {
            color: rgb(var(--color-text));
            text-decoration: none;
        }
    }

    &__paginate {
        position: absolute;
        top: 0;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }

        &--disabled {
            visibility: hidden;
        }
    }

    &__pages {
        display: flex;
    }

    &__page {
        margin: 0 2px;
        text-align: center;
        width: 36px;

        &--active {
            color: rgb(var(--color-text));
            font-weight: 600;
        }
    }

    &__ellipsis {
        color: rgb(var(--color-text-muted));
        margin: 0 2px;
        position: relative;
        text-align: center;
        width: 28px;

        select {
            appearance: none;
            cursor: pointer;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}