.participantListItem {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__avatarUser {
        align-items: center;
        display: flex;
    }

    &__username {
        font-size: var(--font-size-l);
    }

    &__avatar {
        border-radius: 50%;
        height: 40px;
        margin-right: 16px;
        object-fit: cover;
        object-position: center;
        width: 40px;
    }

    &__numPosts {
        color: var(--color-text-muted);
    }
}