.password {
    position: relative;

    &__toggle {
        appearance: none;
        background-color: rgb(var(--color-text-muted));
        border: none;
        cursor: pointer;
        height: 100%;
        mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,4.5A11.82682,11.82682,0,0,0,1,12a11.81667,11.81667,0,0,0,22,0A11.82682,11.82682,0,0,0,12,4.5ZM12,17a5,5,0,1,1,5-5A5.00182,5.00182,0,0,1,12,17Zm0-8a3,3,0,1,0,3,3A2.996,2.996,0,0,0,12,9Z"/></svg>');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 24px;
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
    }

    &.is-visible {
        .password__toggle {
            mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,7a5.00182,5.00182,0,0,1,5,5,4.8532,4.8532,0,0,1-.36,1.83l2.92,2.92A11.81726,11.81726,0,0,0,22.99,12a11.82682,11.82682,0,0,0-11-7.5,11.64521,11.64521,0,0,0-3.98.7l2.16,2.16A4.8532,4.8532,0,0,1,12,7ZM2,4.27,4.28,6.55l.46.46A11.804,11.804,0,0,0,1,12a11.82163,11.82163,0,0,0,15.38,6.66l.42.42L19.73,22,21,20.73,3.27,3ZM7.53,9.8l1.55,1.55A2.82118,2.82118,0,0,0,9,12a2.996,2.996,0,0,0,3,3,2.82118,2.82118,0,0,0,.65-.08l1.55,1.55A4.96731,4.96731,0,0,1,7.53,9.8Zm4.31-.78,3.15,3.15.02-.16a2.996,2.996,0,0,0-3-3Z"/></svg>');
        }
    }
}