@keyframes passwordRequirementsCheck {
    0% { opacity: 0; transform: translateY(4px); }
    100% { opacity: 1; transform: translateY(0); }
}

.passwordRequirements {
    color: rgb(var(--color-text-muted));
    margin-top: 16px;

    &__requirement {
        line-height: 20px;
        padding-left: 20px;
        position: relative;

        &::before,
        &::after {
            background-color: rgb(var(--color-text-muted));
            content: '';
            height: 20px;
            left: 0;
            position: absolute;
            top: 1px;
            width: 14px;
            will-change: transform;
        }

        &::before {
            background-color: rgb(var(--color-text-muted));
            mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20"><path d="M8.414,10.04883l3.293-3.29321A.99989.99989,0,1,0,10.293,5.34155L7,8.6347,3.707,5.34155A.99989.99989,0,0,0,2.293,6.75562l3.293,3.29321L2.293,13.342A.99989.99989,0,1,0,3.707,14.7561L7,11.463l3.293,3.29315A.99989.99989,0,0,0,11.707,13.342Z"/></svg>');
            opacity: 0.5;
        }

        &::after {
            animation: passwordRequirementsCheck var(--duration-medium) cubic-bezier(0, 1.5, 1, 1.5) both;
            background-color: rgb(var(--color-success));
            display: none;
            mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20"><path d="M5.00008,15.00039a1.00012,1.00012,0,0,1-.707-.293l-4-4.00049A.99989.99989,0,0,1,1.70711,9.29287l3.293,3.29345,7.293-7.29345a.99989.99989,0,1,1,1.41406,1.41406l-8,8.00049A1.00014,1.00014,0,0,1,5.00008,15.00039Z"/></svg>');
        }

        &.is-checked {
            color: rgb(var(--color-success));

            &::before {
                display: none;
            }

            &::after {
                display: block;
            }
        }

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}