.path {
    display: flex;
    line-height: 20px;
    margin-bottom: 4px;

    &__item {
        &:not(:last-child) {
            &::after {
                background: rgb(var(--color-1));
                content: '';
                display: block;
                float: right;
                height: 20px;
                margin: 0 6px;
                mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20"><polyline points="2.5 5 7.5 10 2.5 15" fill="none" stroke="%23000" stroke-miterlimit="10"/></svg>');
                mask-size: cover;
                position: relative;
                top: 1px;
                width: 10px;
            }
        }
    }
}