.post {
    display: flex;
    padding: 32px;

    &:not(:last-child) {
        border-bottom: 1px solid rgb(var(--color-border));
        margin-bottom: 4px;
    }

    &__avatarColumn {
        margin-right: 32px;
        position: relative;
    }

    &__avatar {
        display: block;
        position: sticky;
        top: 32px;
    }

    &__avatarImg {
        height: 80px;
        width: 80px;
    }

    &__header {
        display: flex;
        margin-bottom: 24px;
        justify-content: space-between;
    }

    &__userName {
        margin-bottom: 2px;
    }

    &__userLink {
        color: rgb(var(--color-text));
        font-size: var(--font-size-l);
    }

    &__userUsername {
        color: rgb(var(--color-text-muted));
        display: inline-block;
        margin-left: 2px;
    }

    &__userLabel {
        background-color: rgba(var(--color-1), 0.1);
        border-radius: 10px;
        color: rgb(var(--color-1));
        display: inline-block;
        font-size: var(--font-size-xs);
        font-weight: 600;
        letter-spacing: 0.015em;
        line-height: 20px;
        padding: 0 8px;
        text-transform: uppercase;

        &--starter {
            background-color: rgba(var(--color-status-success), 0.1);
            color: rgb(var(--color-status-success));
        }
    }

    &__timestamp,
    &__anchor,
    &__anchor:hover {
        color: rgb(var(--color-text-muted));
    }

    &__main {
        flex: 1;
    }

    &__userLink {
        font-weight: 600;
    }

    &__body {
        font-size: var(--font-size-l);
        line-height: var(--line-height-l);
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        line-height: 32px;
        margin-top: 32px;
    }

    &__actions {
        display: flex;
    }

    &__action {
        font-size: var(--font-size-s);

        @include screen-min(m) {
            font-size: var(--font-size-m);
        }

        a {
            color: rgba(var(--color-1), 0.5);

            &:hover {
                color: rgba(var(--color-1), 1);
                text-decoration: none;
            }
        }

        &:not(:last-child) {
            margin-right: 1em;
        }

        i {
            margin-right: 4px;
        }
    }
}