.rx {
    &-container {
        border-radius: var(--border-radius);
        border: 1px solid rgb(var(--color-input-border));
        overflow: hidden;

        &:focus-within {
            border-color: rgb(var(--color-input-border-focus));
            box-shadow: inset 0 0 0 1px rgb(var(--color-input-border-focus));
        }
    }

    &-editor [data-rx-type='embed'].rx-block-focus,
    &-editor [data-rx-type='image'].rx-block-focus,
    &-editor [data-rx-type='layer'].rx-block-focus,
    &-editor [data-rx-type='line'].rx-block-focus {
        outline: 3px solid rgba(var(--color-1), 0.25) !important;
    }

    &-toolbar-container {
        &.is-rx-toolbar {
            background-color: transparent;
            border-bottom: 1px solid rgba(var(--color-input-border-focus), 0.1);
        }
    }

    &-toolbar {
        height: 44px;
        padding: 4px;
    }

    &-tooltip {
        display: none;
    }

    &-button {
        &-toolbar {
            color: rgb(var(--color-text));
            border-radius: var(--border-radius-input);
            height: 36px;
            min-width: 36px;
            padding-top: 0;
            transition: none;
            width: 36px;

            .rx-button-icon {
                border: none;
                transition: none;
            }

            &[data-name='indent'],
            &[data-name='outdent'] {
                display: none;
            }

            &:not(:last-child) {
                margin-right: 2px;
            }

            &:hover,
            &.active,
            &.toggled {
                background: rgba(var(--color-1), 0.075);
                color: rgb(var(--color-1));
                transition: none;
            }

            &.active {
                .rx-button-icon {
                    background-color: transparent;
                }
            }
        }
    }

    &-popup {
        @include font-1;
        background: rgb(var(--color-bg));
        border-radius: var(--border-radius);
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    
        &.has-items {
            .rx-popup-header {
                display: none !important;
            }
        }
    
        &-header {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),
                0 0 4px rgba(0, 0, 0, 0.05);
            height: 48px;
            padding: 0 16px;
            position: relative;
            user-select: none;
    
            &-item {
                font-size: var(--font-size-m);
                font-weight: 600;
                line-height: 48px;
                padding: 0;
            }
        }
    
        &-close {
            background-color: rgb(var(--color-text-muted));
            border: none;
            color: transparent;
            cursor: pointer;
            display: block;
            height: 48px;
            mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><line x1="18" y1="18" x2="30" y2="30" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="1.5"/><line x1="30" y1="18" x2="18" y2="30" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="1.5"/></svg>');
            mask-size: 100%;
            opacity: 1;
            position: absolute;
            text-align: -100px;
            top: 0;
            right: 0;
            width: 48px;
    
            &::after,
            &::before {
                display: none;
            }
    
            &:hover {
                background: rgb(var(--color-text));
            }
        }
    
        &-footer {
            .rx-form-button {
                border-radius: 20px !important;
                display: block;
                float: left;
                margin: 0;
    
                &:not(:first-child) {
                    margin-left: 8px;
                }
    
                &-push-right {
                    float: right !important;
                }
            }
        }
    
        &-item {
            border: var(--border-radius-input);
            color: rgb(var(--color-text));
            padding: 12px;
            user-select: none;
    
            &-container {
                .rx-popup-item-title {
                    color: currentColor;
                    font-size: var(--font-size-xs);
                    font-weight: 400;
                }            
            }
    
            &-title {
                color: currentColor;
                font-weight: 600;
            }
    
            &-shortcut {
                @include font-mono;
                color: currentColor;
                font-size: var(--font-size-xs);
                opacity: 0.5;
            }
    
            &:hover {
                background-color: rgba(var(--color-1), 0.075);
                color: rgb(var(--color-1));
            }
    
            &.active {
                background-color: rgb(var(--color-1));
                color: #FFF;
            }
        }
    
        &-image-section-or {
            color: rgb(var(--color-text-muted));
            font-weight: 600;
        }
    
        &[data-rx-popup-name='embed'] {
            .rx-form-textarea {
                @include font-mono;
                font-size: 15px;
            }
    
            .rx-form-item:nth-last-child(1),
            .rx-form-item:nth-last-child(2) {
                display: none;
            }
        }
    
        &[data-rx-popup-name='image-edit'] {
            .rx-form-item:nth-child(1),
            .rx-form-item:nth-child(2),
            .rx-form-item:last-child {
                display: none;
            }
        }
    
        &[data-rx-popup-name='link'] {
            .rx-form-item:last-child {
                display: none;
            }
        }
    }

    &-form {
        &-button {
            @include font-1;
            background-color: transparent;
            border-radius: var(--border-radius-input);
            border: none;
            box-shadow: inset 0 0 0 1px rgba(var(--color-1), 0.25);
            color: rgb(var(--color-1));
            cursor: pointer;
            display: inline-block;
            font-size: var(--font-size-s);
            font-weight: 600;
            letter-spacing: 0.035em;
            line-height: 24px;
            height: 40px;
            margin: 0;
            overflow: hidden;
            padding: 8px 24px;
            position: relative;
            text-transform: uppercase;
            user-select: none;
            white-space: nowrap;

            &:hover {
                background: transparent;
                box-shadow: inset 0 0 0 1px rgba(var(--color-1), 1);
                text-decoration: none;
            }

            &:active {
                padding-bottom: 7px;
                padding-top: 9px;
            }

            &-danger {
                background-color: rgba(var(--color-status-alert), 0.075);
                box-shadow: inset 0 0 0 1px rgba(var(--color-status-alert), 0.25);
                color: var(--color-alert);

                &:hover {
                    background-color: rgba(var(--color-status-alert), 0.075);
                    box-shadow: inset 0 0 0 1px rgba(var(--color-status-alert), 1);
                }
            }

            &-primary {
                background-color: rgb(var(--color-1));
                color: rgb(var(--color-bg));

                &:hover {
                    background-color: rgb(var(--color-1-lighter));
                    box-shadow: none;
                    color: rgb(var(--color-bg));
                }
            }
        }

        &-container-flex {
            padding-top: 16px;

            .rx-form-input {
                flex: 1;
            }

            .rx-form-button {
                margin-left: 8px;
                padding-left: 16px;
                padding-right: 16px;
            }

            .rx-form-item-image img {
                border-radius: var(--border-radius-input);
            }

            .rx-form-upload-box {
                height: auto;
                margin-bottom: 0;
                padding: 16px;
            }

            .rx-form-upload-placeholder {
                font-size: var(--font-size-s);
            }
        }

        &-input,
        &-textarea {
            @include font-1;
            background-color: rgb(var(--color-bg));
            border: none;
            border-radius: var(--border-radius-input);
            box-shadow: inset 0 0 0 1px rgb(var(--color-input-border));
            color: rgb(var(--color-text)) !important;
            display: block;
            font-size: var(--font-size-m);
            height: 40px;
            padding: 0 10px;
            transition: box-shadow var(--duration-fast) ease;
            width: 100%;
    
            &::placeholder {
                color: rgb(var(--color-input-placeholder));
            }

            &:-webkit-autofill {
                box-shadow: inset 0 0 0 1px rgb(var(--color-input-border)),
                    inset 0 0 0 48px rgb(var(--color-bg));
                color: rgb(var(--color-text));
            }
    
            &:focus,
            &:-webkit-autofill:focus {
                box-shadow: inset 0 0 0 2px rgb(var(--color-input-border-focus)),
                    inset 0 0 0 48px rgb(var(--color-bg));
                color: rgb(var(--color-text));
            }
        }

        &-textarea {
            height: auto;
            padding: 10px;
            resize: none;
        }

        &-label {
            @include font-1;
            color: rgb(var(--color-text));
            font-size: var(--font-size-s);
            font-weight: 600;
            line-height: var(--line-height-m);
            margin-bottom: 8px;
            padding: 0;
        }

        &-upload-box {
            background: rgba(var(--color-1), 0.05);
            border: 1px dashed rgba(var(--color-1), 0.5);
            border-radius: var(--border-radius);
        }

        &-upload-placeholder {
            @include font-1;
            color: rgb(var(--color-1));
            font-size: var(--font-size-m);
        }
    }
}