.threadList {
    &__colTitle {
        flex: 1;
    }

    &__colStat {
        text-align: center;
        flex: 0 0 96px;
    }

    &__colLastReply  {
        flex: 0 0 320px;
        padding-right: 64px;
    }
}