.threadListItem {
    &__thread {
        display: flex;
    }

    &__threadAvatarLink {
        display: block;
        margin-right: 12px;
        width: 40px;
    }

    &__threadAvatar {
        border-radius: 50%;
        height: 40px;
        object-fit: cover;
        width: 40px;
    }
}