.uploader {
    &__uploads {
        border-radius: var(--border-radius);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),
            0 0 4px rgba(0, 0, 0, 0.05);
        margin-bottom: 24px;
        overflow: hidden;

        .upload:not(:last-child) {
            border-bottom: 1px solid rgb(var(--color-border));
        }

        &:empty {
            display: none;
        }
    }

    &__allowedTypes {
        color: rgb(var(--color-text-muted));
        font-size: var(--font-size-s);
        margin-top: 12px;
    }
}