.upload {
    align-items: center;
    display: flex;
    padding: 16px;

    &__preview {
        background: transparent url('/assets/img/upload-preview.png') repeat;
        border-radius: 3px;
        flex: 0 0 96px;
        height: 96px;
        overflow: hidden;
        position: relative;
        width: 96px;

        img {
            height: 100%;
            object-fit: contain;
            position: absolute;
            width: 100%;
        }
    }

    &__details {
        flex: 1;
        min-width: 0;
        padding-left: 16px;
    }

    &__file {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        transition: transform var(--duration-slow) ease;
    }

    &__fileNameOuter {
        flex: 1;
        min-width: 0;
        padding-right: 8px;
    }

    &__name {
        font-weight: 600;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    &__cancel {
        background-color: rgb(var(--color-text-muted));
        border: none;
        color: transparent;
        cursor: pointer;
        height: 24px;
        mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><line x1="6" y1="6" x2="18" y2="18" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="1.5"/><line x1="18" y1="6" x2="6" y2="18" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="1.5"/></svg>');
        mask-size: 100% 100%;
        width: 24px;

        &:hover {
            background-color: rgb(var(--color-text));
        }
    }

    &__progress {
        background-color: rgb(var(--color-bg-tint));
        border-radius: 2px;
        height: 4px;
        overflow: hidden;
        transition: opacity var(--duration-slow) ease;
    }

    &__progressFill {
        background-color: rgb(var(--color-1));
        border-radius: 2px;
        height: 4px;
        transition: width var(--duration-fast) ease;
        width: 0%;
    }

    &.is-uploaded {
        .upload__file {
            transform: translateY(8px);
        }

        .upload__progress {
            opacity: 0;
        }
    }
}