.wrapper  {
    align-self: stretch;
    margin: 0 auto;
    flex: 0 1 1600px;
    padding: 0 96px;

    &--small {
        align-self: center;
        flex: 0 1 640px;
    }

    &--medium {
        align-self: center;
        flex: 0 1 960px;
    }

    &--left {
        margin: 0 0 0 auto;
    }

    &--right {
        margin: 0 auto 0 0;
    }
}