.inputDate {
    display: flex;

    .inputSelect {
        position: relative;

        &:nth-child(1) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            width: 80px;
        }

        &:nth-child(2) {
            flex: 1;
            border-radius: 0;
            margin: 0 -1px;
        }

        &:nth-child(3) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            width: 112px;
        }

        &:focus-within {
            z-index: 4;
        }        
    }
}