.inputSelect {
    appearance: none;
    background-color: rgb(var(--color-bg));
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgb(var(--color-input-border));
    color: rgb(var(--color-text));
    display: block;
    height: 48px;
    line-height: 20px;
    overflow: hidden;
    padding: 14px 12px;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    will-change: box-shadow;

    &__select {
        appearance: none;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 100%;

        &[disabled] {
            cursor: not-allowed;

            & + .inputSelect__label {
               color: rgb(var(--color-text-muted));
            }
        }
    }

    &__label {
        font-size: var(--font-size-l);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        will-change: color;
    }

    &::after {
        background-color: rgb(var(--color-text-muted));
        content: '';
        display: block;
        height: 48px;
        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23000000" d="M14 5l-6 6-6-6"/></svg>');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 16px 16px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
    }

    &:focus-within {
        box-shadow: inset 0 0 0 2px rgb(var(--color-input-border-focus)),
            inset 0 0 0 1000px #FFFFFF;
    }

    &.is-empty {
        .inputSelect__label {
            color: rgb(var(--color-text-muted));
        }
    }

    &--large {
        height: 48px;
        padding: 14px 12px;
    }
}