@use '@css/mixins' as *;

[x-cloak] {
    display: none !important;
}

a {
    border-radius: var(--borderRadius-s);
    color: var(--color-link);
    outline: var(--btn-outline);
    outline-offset: 2px;

    &:hover {
        color: var(--color-link-hover);
    }

    &:focus-visible {
        outline: var(--btn-outline-focus);
    }
}

body {
    background-color: var(--color-bg-tint);
    color: var(--color-text);
    font-family: var(--font-1);
    position: relative;

    &::after {
        background-image: url('@public/assets/img/lines.svg');
        background-position: center;
        background-size: cover;
        content: '';
        inset: 0;
        position: fixed;
        z-index: -1;
    }
}

button,
button * {
    appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--color-1);
    font-family: var(--font-2);
    font-size: var(--fontSize-xxl);
    font-weight: 600;
    letter-spacing: -.015em;
    line-height: var(--lineHeight-m);
    margin: 0;
}

h2 {
    color: var(--color-1);
    font-family: var(--font-2);
    font-size: var(--fontSize-xl);
    font-weight: 600;
    letter-spacing: -.015em;
    margin: 0;
}

h3 {
    color: var(--color-text-hc);
    font-size: var(--fontSize-m);
    font-weight: 600;
}

h4 {
    color: var(--color-text-hc);
    font-size: var(--fontSize-m);
    font-weight: 600;
}

img {
    display: block;
    object-fit: cover;
}

input {
    &::placeholder {
        color: var(--color-text-placeholder);
    }
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@include screen-min(m) {
    h3 {
        font-size: var(--fontSize-l);
    }
}