@font-face {
    font-family: 'GT Flexa';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/assets/fonts/GT-Flexa-Standard-Medium.woff2') format('woff2'),
         url('/assets/fonts/GT-Flexa-Standard-Medium.woff') format('woff');
}