:root {
    --base-size: 16px;
    --border-radius: 4px;
    --border-radius-small: 3px;
    --border-radius-input: 3px;

    --color-1: 220, 60, 60;                     // #DC3C3C
    --color-1-lighter: 239, 73, 73;             // #EF4949
    --color-bg: 255, 255, 255;                  // #FFFFFF
    --color-bg-tint: 249, 246, 243;             // #F9F6F3
    --color-text: 56, 56, 55;                   // #383837, 90% black on --color-bg-tint
    --color-text-muted: 153, 152, 150;          // #999896, 50% --color-text on --color-bg-tint
    --color-border: 230, 227, 224;              // #E6E3E0, 10% --color-text on --color-bg-tint
    --color-border-muted: 239, 237, 234;        // #EFEDEA,  5% --color-text on --color-bg-tint
    --color-input-border: 209, 207, 205;        // #D1CFCD, 25% --color-text on --color-bg-tint
    --color-input-border-focus: 56, 56, 55;     // #383837, 50% --color-text on --color-bg-tint
    --color-input-placeholder: 201, 198, 196;   // #C9C6C4, 50% --color-text-muted on --color-bg-tint
    --color-status-alert: 239, 73, 73;          // #EF4949
    --color-status-success: 83, 175, 15;        // #53AF0F

    --duration-fast: 125ms;
    --duration-medium: 250ms;
    --duration-slow: 500ms;

    --font-1: 'Source Sans Pro', BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-1-spacing: 0em;
    --font-2: 'GT Flexa', BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-2-spacing: -0.025em;
    --font-mono: 'Source Code Pro', Menlo, monospace;
    --font-mono-spacing: -0.01em;

    --font-size-xs:  0.75rem;        // 12px
    --font-size-s:   0.875rem;       // 14px
    --font-size-m:   1rem;           // 16px
    --font-size-l:   1.125rem;       // 18px
    --font-size-xl:  1.5rem;         // 24px
    --font-size-xxl: 3rem;           // 48px

    --line-height-s: 1;              // 16px
    --line-height-m: 1.25;           // 20px
    --line-height-l: 1.5;            // 24px
}

$grid-columns: 8;

$screens: (
    xs: 320px,
     s: 375px,
     m: 768px,
     l: 1024px,
    xl: 1280px,
) !default;

$spaces: (
    xxs: 0.125rem,                  // 2px
     xs: 0.25rem,                   // 4px
      s: 0.5rem,                    // 8px
      m: 1rem,                      // 16px
      l: 1.5rem,                    // 24px
     xl: 2rem,                      // 32px
    xxl: 2.5rem,                    // 40px
    3xl: 3rem,                      // 48px
    4xl: 4rem,                      // 64px
    5xl: 5rem,                      // 80px
    6xl: 6rem,                      // 96px
    7xl: 7rem,                      // 112px
    8xl: 8rem,                      // 128px
) !default;