@keyframes callout {
    from {
        opacity: 0;
        transform: scale(.9);
    }
}

.callout {
    animation: callout var(--duration-l) both ease-in-out;
    align-items: center;
    border-radius: var(--borderRadius-m);
    display: flex;
    gap: var(--size-l);
    padding: var(--size-l);

    &--success {
        background: var(--color-good-tint);
        border: 1px solid var(--color-good-border);
        color: var(--color-good);

        a {
            color: var(--color-good);
        }
    }

    &__icon {
        flex: 0 0 2rem;
        height: 2rem;
    }

    &__content {
        flex: 1;
    }
}