.formatted {
    line-height: var(--lineHeight-l);

    b, strong {
        color: var(--color-text-hc);
        font-weight: 600;
    }

    blockquote {
        border-left: 3px solid var(--color-border);
        font-style: italic;
        margin-left: 0;
        padding-left: 1em;
    }

    h3, h4 {
        margin-bottom: .25rem;
    }
    
    i, em {
        font-style: italic;
    }

    img {
        border-radius: var(--borderRadius-s);
        display: block;
        max-height: 75vh;
        max-width: 100%;
    }

    p, ol, ul {
        max-width: 75ch;
    }

    p, ol, ul, div {
        &:not(:last-child) {
            margin-bottom: 1.25em;
        }

        &:empty {
            display: none;
        }
    }

    ol,
    ul {
        list-style-type: decimal;
        margin: 1.5em 0 1.5em 1.5em !important;

        li:not(:last-child) {
            margin-bottom: .75em;
        }
    }

    ul {
        list-style-type: disc;
    }

    &__video {
        position: relative;

        iframe {
            aspect-ratio: 16 / 9;
            border-radius: var(--borderRadius-s);
            border: none;
            height: auto;
            overflow: hidden;
            width: 100%;
        }
    }

    a[data-mention] {
        background: rgba(255, 0, 0, .15);
        border-radius: var(--borderRadius-l);
        color: var(--color-1);
        display: inline-block;
        font-size: var(--fontSize-s);
        font-weight: 500;
        padding: 0 .5em;
        text-decoration: none;
    }
}