.input {
    align-items: center;
    border: 1px solid var(--input-border-color);
    border-radius: var(--borderRadius-m);
    display: flex;
    flex: 0 1 auto;
    height: var(--input-height);
    min-width: 0;
    outline: var(--input-outline);
    overflow: hidden;
    position: relative;
    transition: var(--duration-s);

    svg {
        color: var(--color-text-lc);
        flex: 0 0 1.5em;
        height: 1.5em;
        margin-left: .5em;

        & + input {
            padding-left: .5em;
        }
    }

    input,
    select {
        appearance: none;
        background: var(--color-bg);
        border: none;
        color: var(--color-text);
        display: block;
        flex: 1 1 0;
        font-size: var(--fontSize-m);
        font-variant-numeric: tabular-nums;
        margin: 0;
        min-width: 0;
        padding: 0 .75em;
        text-align: left;
        width: 0;

        &[type=date] {
            line-height: calc(var(--input-height) - 2px);
            min-height: calc(var(--input-height) - 2px);
        }

        &[type=search]::-webkit-search-cancel-button {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }

    select {
        padding-right: 3rem;
    }

    &__togglePassword {
        align-items: center;
        appearance: none;
        aspect-ratio: 1 / 1;
        background: transparent;
        border: none;
        color: var(--color-text-lc);
        cursor: pointer;
        display: flex;
        height: calc(var(--input-height) - 2px);
        justify-content: center;
        overflow: hidden;
        padding: 0;

        input[type=password] ~ & svg:last-child {
            display: none;
        }

        input[type=text] ~ & svg:first-child {
            display: none;
        }
    }

    &:focus-within {
        border-color: var(--input-border-color-focus);
        outline: 1px solid var(--input-border-color-focus);
    }

    &[wire\:target] {
        &::after {
            animation: btn-spinner 1s linear infinite;
            aspect-ratio: 1 / 1;
            background: var(--color-text-lc);
            content: '';
            height: 100%;
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path opacity=".25" d="M256 64C150 64 64 150 64 256s86 192 192 192c70.1 0 131.3-37.5 164.9-93.6l.1 .1c-6.9 14.9-1.5 32.8 13 41.2c15.3 8.9 34.9 3.6 43.7-11.7c.2-.3 .4-.6 .5-.9l0 0C434.1 460.1 351.1 512 256 512C114.6 512 0 397.4 0 256S114.6 0 256 0c-17.7 0-32 14.3-32 32s14.3 32 32 32z"/><path d="M224 32c0-17.7 14.3-32 32-32C397.4 0 512 114.6 512 256c0 46.6-12.5 90.4-34.3 128c-8.8 15.3-28.4 20.5-43.7 11.7s-20.5-28.4-11.7-43.7c16.3-28.2 25.7-61 25.7-96c0-106-86-192-192-192c-17.7 0-32-14.3-32-32z"/></svg>');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: 1.25em;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            transition: opacity var(--duration-m);
        }

        &.is-loading::after {
            opacity: 1;
        }
    }

    &:has(input[aria-invalid]) {
        border-color: var(--color-bad);
    }

    &:has(select)::after {
        aspect-ratio: 1 / 1;
        background: currentColor;
        content: '';
        display: block;
        height: 100%;
        mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 20px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    &--small,
    &--small input {
        font-size: var(--fontSize-s);
    }

    &:has(textarea[aria-invalid]) {
        border-color: var(--color-bad);
    }
}