@use '@css/mixins' as *;

.logo {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    text-decoration: none;

    &__icon {
        background: currentColor;
        mask-image: url('@public/assets/img/keiforum-mask.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        aspect-ratio: 1 / 1;
        height: 2rem;
    }

    &__name {
        font-family: var(--font-2);
        font-size: var(--fontSize-l);
        font-weight: 700;
        margin-left: .5em;
        transition: transform var(--duration-m);
    }

    &:active,
    &:hover {
        color: var(--color-link);
    }

    @include screen-min(m) {
        &__icon {
            height: 2.5rem;
        }

        &__name {
            font-size: var(--fontSize-xl);
        }
    }
}