@use '@css/mixins' as *;

.message {
    display: flex;
    gap: var(--size-s);
    padding-right: 5%;
    margin: 0 auto;
    max-width: 56rem;
    width: 100%;

    &--own {
        flex-direction: row-reverse;
        padding-right: 0;
        padding-left: 5%;
    }

    &__avatar {
        flex-shrink: 0;
    }

    &__main {
        background: var(--color-bg);
        border: 1px solid var(--color-border);
        border-radius: var(--borderRadius-m);
        box-shadow: var(--boxShadow-s);
        flex: 1;
        max-width: 65ch;
        padding: .5rem .75rem;
    }

    &__header {
        align-items: center;
        display: flex;
        font-size: var(--fontSize-xs);
        justify-content: space-between;
        margin-bottom: var(--size-xs);

        .meta {
            font-size: var(--fontSize-xs);
        }
    }

    &__body {
        font-size: var(--fontSize-s);
    }

    &__author {
        font-weight: 600;
        text-decoration: none;
    }

    &__time {
        color: var(--color-text-lc);
        font-variant-numeric: tabular-nums;
    }

    &__actions {
        align-items: center;
        display: flex;
        gap: var(--size-s);
    }

    &__edit {
        background: none;
        border: none;
        color: var(--color-text-lc);
        cursor: pointer;
        font-size: var(--fontSize-s);

        &:hover {
            color: var(--color-text);
        }
    }

    @include screen-min(m) {
        padding-right: 15%;

        &--own {
            padding-left: 15%;
        }

        &__body {
            font-size: var(--fontSize-m);
        }
    }
}