@use '@css/mixins' as *;

.meta {
    align-items: center;
    color: var(--color-text-lc);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fontSize-xs);
    gap: .35em;

    &__item {
        align-items: center;
        display: flex;
        gap: .35em;

        &:not(:last-child) {
            &::after {
                content: '•';
                opacity: .5;
            }
        }

        a {
            align-items: center;
            color: currentColor;
            display: inline-flex;
            gap: .25em;

            &:hover {
                color: var(--color-text);
            }
        }

        svg {
            height: 1em;
            stroke-width: 2;
            width: 1em;
            flex: 0 0 1em;
        }
    }

    @include screen-min(m) {
        font-size: var(--fontSize-s);
    }
}