@use '@css/mixins' as *;

.meta {
    color: var(--color-text-lc);
    font-size: var(--fontSize-s);
    line-height: var(--lineHeight-l);

    &::after {
        content: '';
        clear: both;
        display: block;
    }

    &__item {
        float: left;
        align-items: center;
        display: inline-flex;
        gap: .33em;
        margin-right: .33em;
        white-space: nowrap;

        &:not(:last-child) {
            &::after {
                content: '•';
                opacity: .5;
            }
        }

        a {
            align-items: center;
            color: currentColor;
            display: inline-flex;
            gap: .25em;

            &:hover {
                color: var(--color-text);
            }
        }

        svg {
            flex: 0 0 1em;
            height: 1em;
            width: 1em;
        }
    }

    &--large {
        color: var(--color-text);
        font-size: var(--fontSize-s);
    }

    &--small {
        font-size: var(--fontSize-xs);
    }

    @include screen-min(m) {
        font-size: var(--fontSize-s);

        &--large {
            color: var(--color-text);
            font-size: var(--fontSize-m);
        }
    }
}