.mobileMenu {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__main {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--gutter-width);
        padding: var(--gutter-width);
    }

    &__footer {
        border-top: 1px solid var(--color-border);
        padding: var(--gutter-width);
    }

    &__search {
        min-width: 240px;

        .input {
            border-radius: 1.5rem;
        }
    }

    &__menu {
        &-link {
            align-items: center;
            display: flex;
            border-radius: var(--input-height);
            font-weight: 600;
            gap: var(--size-s);
            height: var(--input-height);
            justify-content: space-between;
            padding: 0 1rem;
            position: relative;
            text-decoration: none;

            &:hover {
                color: var(--color-link-hover);
            }

            &--active,
            &--active:hover {
                background: rgba(var(--color-1-rgb), .1);
                color: var(--color-1);
            }
        }

        &-badge {
            display: inline-block;
            font-variant-numeric: tabular-nums;
            opacity: .5;
        }
    }
}