.mobileMenu {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__main {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--gutter-width);
        padding: var(--gutter-width);
    }

    &__footer {
        border-top: 1px solid var(--color-border);
        padding: var(--gutter-width);
    }

    &__search {
        min-width: 240px;

        .input {
            border-radius: 1.5rem;
        }
    }

    &__menu-link {
        align-items: center;
        display: flex;
        border-radius: var(--input-height);
        height: var(--input-height);
        text-decoration: none;
        font-weight: 600;
        padding: 0 1rem;
        position: relative;

        &:hover {
            color: var(--color-link-hover);
        }

        &--active,
        &--active:hover {
            background: rgba(var(--color-1-rgb), .1);
            color: var(--color-1);
        }
    }
}