@use '@css/mixins' as *;

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 0 var(--gutter-width) 0 calc(var(--gutter-width) - 10px);
    position: sticky;
    top: 0; // calc((var(--nav-height) * -1) - 1);
    z-index: 10;
    width: 100%;

    &::before {
        content: '';
        height: var(--nav-height);
        background: var(--color-bg);
        box-shadow: 0 1px 0 0 rgba(var(--color-text-rgb), .2);
        left: 0;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 3;
    }

    &__menuToggleLogo {
        align-items: center;
        display: flex;
        gap: var(--size-s);
        position: relative;
        z-index: 4;
    }

    &__menuToggle {
        background: transparent;
        border-radius: var(--border-radius-m);
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 var(--btn-height);
        height: var(--btn-height);
        width: var(--btn-height);
        z-index: 4;

        div {
            background: var(--color-link);
            height: 2px;
            position: relative;
            transition: 0ms 125ms ease;
            width: 20px;

            &::before,
            &::after {
                background: var(--color-link);
                content: '';
                display: block;
                height: 2px;
                position: absolute;
                transition: top 125ms 125ms ease,
                    transform 125ms ease;
                width: 20px;
            }

            &::before {
                top: -6px;
            }

            &::after {
                top: 6px;
            }
        }

        &[aria-expanded=true] {
            div {
                background: transparent;

                &::before,
                &::after {
                    transition: top 125ms ease,
                        transform 125ms 125ms ease;
                }

                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__mobileMenuOverlay {
        background: rgba(0, 0, 0, .35);
        inset: 0;
        position: fixed;
        z-index: 1;
    }

    &__mobileMenu {
        background: var(--color-bg);
        display: flex;
        flex-direction: column;
        height: 100svh;
        left: 0;
        max-width: 24rem;
        padding-top: var(--nav-height);
        position: fixed;
        top: 0;
        transform: translate3d(-100%, 0, 0);
        transition: transform var(--duration-m) ease-in-out;
        width: 85%;
        z-index: 2;

        .nav.is-menuOpen & {
            box-shadow: var(--boxShadow-m);
            transform: translate3d(0, 0, 0);
        }
    }
    
    &__menuSearch {
        align-items: center;
        display: none;
        gap: 1.5rem;
        position: relative;
        z-index: 4;
    }

    &__search {
        min-width: 240px;

        .input {
            border-radius: 1.5rem;
        }
    }

    &__menu {
        display: flex;
    }

    &__menu-link {
        align-items: center;
        display: flex;
        border-radius: var(--input-height);
        height: var(--input-height);
        text-decoration: none;
        font-weight: 600;
        padding: 0 1rem;
        position: relative;

        &:hover {
            color: var(--color-link-hover);
        }

        &--active,
        &--active:hover {
            background: rgba(var(--color-1-rgb), .1);
            color: var(--color-1);
        }
    }

    &__actions {
        align-items: center;
        display: flex;
        flex: 1;
        gap: .75rem;
        justify-content: flex-end;
        transition: opacity var(--duration-m) ease;
        position: relative;
        z-index: 5;
    }

    &__action {
        align-items: center;
        background: transparent;
        border-radius: 50%;
        display: flex;
        flex: 0 0 var(--input-height);
        justify-content: center;
        height: var(--input-height);
        position: relative;

        .badge {
            background: var(--color-1);
            color: var(--color-bg);
            font-size: var(--fontSize-xxs);
            font-weight: 600;
            line-height: 1rem;
            border-radius: 2rem;
            padding: 0 .33rem;
            position: absolute;
            top: -.25rem;
            left: 1.75rem;
        }

        &:hover,
        &--active {
            background: rgba(var(--color-1-rgb), .1);
            color: var(--color-link);
        }
    }

    &__user {
        align-items: center;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: var(--input-height);
        justify-content: center;
        position: relative;
        width: var(--input-height);

        &:hover {
            background: rgba(var(--color-1-rgb), .1);
        }

        .avatar {
            appearance: none;
            background: transparent;
            border: none;
            margin: 0;
            padding: 0;

            img {
                background: transparent;
                box-shadow: none;
            }
        }

        &-menu {
            background: var(--color-bg);
            box-shadow: var(--boxShadow-m);
            border-radius: var(--borderRadius-m);
            position: absolute;
            padding: var(--size-s) 0;
            top: 100%;
            right: 0;
            width: max-content;

            &-link {
                align-items: center;
                appearance: none;
                background: transparent;
                border: none;
                border-radius: 0;
                color: var(--color-link);
                display: flex;
                font-size: var(--fontSize-m);
                font-weight: 500;
                gap: .5rem;
                padding: var(--size-s) var(--size-l);
                text-decoration: none;

                svg {
                    flex: 0 0 1.25rem;
                    height: 1.25rem;
                    stroke-width: 2;
                }

                &:hover {
                    background: rgba(var(--color-1-rgb), .1);
                    color: var(--color-link);
                }
            }
        }
    }

    @include screen-min(m) {
        &__mobileMenu,
        &__menuToggle {
            display: none;
        }

        &__menuSearch {
            display: flex;
        }
    }
}