@use '@css/mixins' as *;

.page {
    flex-direction: column;
    display: flex;
    min-height: calc(100svh - var(--nav-height));

    &__intro {
        line-height: var(--lineHeight-l);
    }

    &__actions {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__main {
        flex: 1;
        padding: 2rem 0;
    }

    &--full {
        gap: 0;

        .page__main {
            padding: 0;

            & > .wrapper {
                max-width: none;
                padding: 0;
            }
        }

        .footer {
            display: none;
        }
    }

    &--simple {
        gap: 0;
        min-height: 100svh;

        .page__logo {
            display: flex;
            align-items: center;
            height: var(--nav-height);
            padding: 0 var(--size-l);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;

            .logo {
                color: #fff;
            }
        }

        .page__visual {
            aspect-ratio: 16 / 9;
            position: relative;
            width: 100%;

            img {
                height: 100%;
                position: absolute;
                top: 0;
                object-fit: cover;
                object-position: center;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &-credit {
                background: rgba(0, 0, 0, .25);
                backdrop-filter: blur(8px);
                bottom: calc(1.5rem - 3px);
                border-radius: 1.5rem;
                color: #fff;
                font-size: var(--fontSize-xs);
                line-height: 1.25rem;
                padding: 0 .75rem;
                position: absolute;
                right: var(--gutter-width);
                text-decoration: none;
            }
        }

        .page__main {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 0;
            
            &-inner {
                display: flex;
                flex: 1;
                padding: 4rem 0;
            }
        }
    }

    @include screen-min(l) {
        &__intro {
            font-size: var(--fontSize-l);
            margin: 0 auto;
            max-width: 75%;
        }

        &__main {
            padding: 3rem 0;
        }

        &--simple {
            flex-direction: row;
            justify-content: flex-end;
            position: relative;

            .page__logo {
                position: fixed;
            }

            .page__visual {
                aspect-ratio: unset;
                inset: 0 50% 0 0;
                position: fixed;
                width: auto;

                &-credit {
                    font-size: var(--fontSize-s);
                    line-height: 1.5rem;
                    right: 2rem;
                }
            }

            .page__main {
                flex: 0 0 50%;

                &-inner {
                    align-items: center;
                    justify-content: center;
                    padding: 6rem 0;
                }
            }
        }
    }
}