@use '@css/mixins' as *;

.panel {
    background: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    margin-left: calc(var(--panel-padding-x) * -1);
    margin-right: calc(var(--panel-padding-x) * -1);

    &--padded {
        padding: var(--panel-padding-y) var(--panel-padding-x);
    }

    &__outset {
        margin-left: calc(var(--panel-padding-x) * -1);
        margin-right: calc(var(--panel-padding-x) * -1);

        &--padded {
            padding-left: var(--panel-padding-x);
            padding-right: var(--panel-padding-x);
        }
    }

    @include screen-min(m) {
        border: 1px solid var(--color-border);
        border-radius: var(--borderRadius-l);
    }
}