.password {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    &__validation {
        display: grid;
        font-size: var(--fontSize-s);
        grid-template-columns: repeat(2, 1fr);
        gap: .25rem;

        &-item {
            align-items: baseline;
            display: flex;
            gap: .5rem;
            line-height: var(--lineHeight-l);
            transition: var(--duration-m);

            &::before {
                background: var(--color-border);
                border-radius: 50%;
                content: '';
                display: block;
                flex: 0 0 .5rem;
                height: .5rem;
                transition: var(--duration-m);
            }

            &.is-valid {
                color: var(--color-good);

                &::before {
                    background: var(--color-good);
                }
            }
        }
    }
}