.ProseMirror {
    line-height: var(--lineHeight-l);
    position: relative;
    outline: none;
    overflow-wrap: break-word;
    padding: .75rem;
    white-space: pre-wrap;

    a[data-embed] {
        &[href$='.jpeg'],
        &[href$='.jpg'],
        &[href$='.png'],
        &[href$='.webp'],
        &[href^='https://on.soundcloud.com/'],
        &[href^='https://open.spotify.com/'],
        &[href^='https://soundcloud.com/'],
        &[href^='https://www.instagram.com/'],
        &[href^='https://www.youtube.com/'],
        &[href^='https://x.com/'],
        &[href^='https://youtu.be/'] {
            align-items: center;
            border: 1px dashed var(--color-border);
            border-radius: var(--borderRadius-m);
            display: flex;
            gap: .75em;
            padding: .75em;

            &::before {
                background-size: contain;
                content: '';
                flex: 0 0 1.25em;
                height: 1.25em;
                width: 1.25em;
            }
        }

        /* Image */
        &[href$='.jpeg']::before,
        &[href$='.jpg']::before,
        &[href$='.png']::before,
        &[href$='.webp']::before {
            background-image: url('@public/assets/img/embed/image.svg');
        }

        /* Instagram */
        &[href^='https://www.instagram.com/']::before {
            background-image: url('@public/assets/img/embed/instagram.svg');
        }

        /* SoundCloud */
        &[href^='https://on.soundcloud.com/']::before,
        &[href^='https://soundcloud.com/']::before {
            background-image: url('@public/assets/img/embed/soundcloud.svg');
        }

        /* Spotify */
        &[href^='https://open.spotify.com/']::before {
            background-image: url('@public/assets/img/embed/spotify.svg');
        }

        /* X */
        &[href^='https://x.com/']::before {
            background-image: url('@public/assets/img/embed/x.svg');
        }

        /* YouTube */
        &[href^='https://www.youtube.com/']::before,
        &[href^='https://youtu.be/']::before {
            background-image: url('@public/assets/img/embed/youtube.svg');
        }
    }

    a[data-mention] {
        background: rgba(var(--color-1-rgb), .1);
        border-radius: var(--borderRadius-l);
        color: var(--color-1);
        display: inline-block;
        font-size: var(--fontSize-s);
        font-weight: 500;
        padding: 0 .5em;
        text-decoration: none;
    }

    a[data-raw-url] {
        word-break: break-all;
    }

    b, strong {
        color: var(--color-text-hc);
        font-weight: 600;
    }

    blockquote {
        border-left: 3px solid var(--color-border);
        font-style: italic;
        margin-left: 0;
        padding-left: 1em;
    }

    blockquote, p, ol, ul {
        max-width: 75ch;
    }

    blockquote, p, ol, ul, div {
        &:not(:last-child) {
            margin-bottom: 1em;
        }

        &:empty {
            display: none;
        }
    }

    ol,
    ul {
        list-style-type: decimal;
        margin: 2em 0 2em 1.5em !important;

        li:not(:last-child) {
            margin-bottom: .75em;
        }
    }

    ul {
        list-style-type: disc;
    }
}