.text {
    &-align {
        &-center {
            text-align: center;
        }

        &-end {
            text-align: end;
        }

        &-start {
            text-align: start;
        }
    }

    &-color {
        &-hc {
            color: var(--color-text-hc);
        }

        &-lc {
            color: var(--color-text-lc);
        }
    }

    &-size {   
        &-xs {
            font-size: var(--fontSize-xs);
        }
        
        &-s {
            font-size: var(--fontSize-s);
        }

        &-l {
            font-size: var(--fontSize-l);
        }

        &-xl {
            font-size: var(--fontSize-xl);
        }
    }
}