@use '@css/mixins' as *;

.topicListItem {
    align-items: center;
    display: flex;
    gap: .75em;
    justify-content: space-between;
    padding: 1rem var(--panel-padding-x);

    &:not(:last-child) {
        border-bottom: 1px solid var(--color-border-lc);
    }

    &__text {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 2px;
    }

    &__adType {
        border-radius: 2rem;
        display: inline-block;
        font-size: var(--fontSize-xs);
        font-weight: 500;
        line-height: 1.25rem;
        margin-left: .15rem;
        padding: 0 .5rem;

        &--offered {
            background: rgba(var(--color-good-rgb), .1);
            color: var(--color-good);
        }

        &--wanted {
            background: rgba(var(--color-1-rgb), .1);
            color: var(--color-1);
        }

        &--pending {
            background: rgba(var(--color-text-rgb), .1);
            color: var(--color-text);
        }
    }

    &__icon {
        color: var(--color-1);
        display: inline-block;
        height: 1em;
        margin-right: .1em;
        position: relative;
        top: .15em;
        width: 1em;
    }

    &__title {
        color: var(--color-1);
        font-weight: 600;
        text-decoration: none;
    }

    .avatar img {
        background: var(--color-bg);
    }

    @include screen-max(m) {
        .avatarList {
            display: none;
        }
    }

    @include screen-min(m) {
        &__title {
            font-size: var(--fontSize-l);
        }

        &__icon {
            height: 1.25em;
            top: .25em;
            width: 1.25em;
        }
    }
}