.topicListItem {
    align-items: center;
    display: flex;
    gap: .75em;
    justify-content: space-between;
    padding: 1.25em;

    &:not(:last-child) {
        border-bottom: 1px solid var(--color-border-lc);
    }

    &__text {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--size-xs);
    }

    &__icon {
        display: inline-block;
        color: var(--color-1);
        height: 1rem;
        position: relative;
        top: .175em;
        width: 1rem;
    }

    &__title {
        color: var(--color-1);
        font-weight: 600;
        text-decoration: none;
    }

    &__areas {
        color: var(--color-text-lc);

        a {
            color: var(--color-text-lc);
            font-size: var(--fontSize-s);
        }
    }

    .avatar img {
        background: var(--color-bg);
    }
}