*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

a {
    color: rgb(var(--color-1));
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

b,
strong {
    font-weight: 700;
}

body {
    background-color: rgb(var(--color-bg-tint));
}

body,
html {
    scroll-behavior: smooth;
}

body,
button {
    @include font-1;
    color: rgb(var(--color-text));
    font-size: var(--base-size);
    line-height: var(--line-height-m);
}

button {
    appearance: none;
    margin: 0;
    padding: 0;
}

em,
i {
    font-style: italic;
}

h1 {
    @include font-2;
    color: rgb(var(--color-1));
    font-size: var(--font-size-xxl);
    font-weight: 500;
    line-height: 1.1;
}

h2 {
    @include font-1;
    font-size: var(--font-size-xl);
}

h3 {
    @include font-1;
    color: rgb(var(--color-1));
    font-size: var(--font-size-l);
    font-weight: 600;
}

h4 {
    @include font-1;
    font-size: var(--font-size-l);
    font-weight: 600;
}

img {
    display: block;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
}

input {
    appearance: none;
}

::placeholder {
    color: rgb(var(--color-input-placeholder));
}