@mixin font-1 {
    font-family: var(--font-1);
    letter-spacing: var(--font-1-spacing);
}

@mixin font-2 {
    font-family: var(--font-2);
    letter-spacing: var(--font-2-spacing);
}

@mixin font-mono {
    font-family: var(--font-mono);
    letter-spacing: var(--font-mono-spacing);
}

@mixin caps-link {
    font-size: var(--fontSize-xs);
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@mixin screen-between($screen-min, $screen-max, $orientation: false) {
    @if map-has-key($screens, $screen-min) {
        $screen-min: map-get($screens, $screen-min);

        @if map-has-key($screens, $screen-max) {
            $screen-max: map-get($screens, $screen-max) - 1px;

            @if $orientation {
                @media (min-width: $screen-min) and (max-width: $screen-max) and (orientation: $orientation) {
                    @content;
                }
            } @else {
                @media (min-width: $screen-min) and (max-width: $screen-max) {
                    @content;
                }
            }
        }
    }
}

@mixin screen-max($screen, $orientation: false) {
    @if map-has-key($screens, $screen) {
        $screen: map-get($screens, $screen) - 1px;
    }

    @if $orientation {
        @media (max-width: $screen) and (orientation: $orientation) {
            @content;
        }
    } @else {
        @media (max-width: $screen) {
            @content;
        }
    }
}

@mixin screen-min($screen, $orientation: false) {
    @if map-has-key($screens, $screen) {
        $screen: map-get($screens, $screen);
    }

    @if $orientation {
        @media (min-width: $screen) and (orientation: $orientation) {
            @content;
        }
    } @else {
        @media (min-width: $screen) {
            @content;
        }
    }
}

@mixin screen-orientation($orientation) {
    @media (orientation: $orientation) {
        @content;
    }
}

@mixin tabular-numbers {
    font-feature-settings: 'tnum' 1;
    font-variant-numeric: tabular-nums;
}